

ufw==0.36

testpath
tf-estimator-nightly
urllib3

wcwidth
Werkzeug
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp

defer
louis
python-apt
systemd-python
future~=0.18.2
numpy~=1.19.5
Pillow~=9.1.1
scikit-learn~=0.21.3
imutils~=0.5.3
PyMySQL~=1.0.2

tqdm~=4.57.0
cv2

opencv-python~=4.5.5.62

reportlab~=3.6.10

fpdf~=1.7.2

PyPDF2~=1.26.0
tkPDFViewer~=0.1
